# Ignore egg-info directory
*.egg-info/

# uv
uv.lock

# File types
*.cpg
*.dbf
*.geojson
*.nbc
*.nbi
*.png
*.prg
*.prj
*.pyc
*.rds
*.shp
*.shx
*.tif

# Large files
*distance_matrix_africa.csv
*dpt_district_summaries.csv
*geojson.zip
*sia_district_rows.csv
*WPP2024_POP_F02_1_POPULATION_5-YEAR_AGE_GROUPS_BOTH_SEXES.xlsx