graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .cookiecutterrc
include .coveragerc
include .editorconfig
include .github/workflows/github-actions.yml
include .pre-commit-config.yaml
include .readthedocs.yml
include pytest.ini
include tox.ini
include pyrightconfig.json

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

recursive-include examples *

exclude TODO.md
exclude tests/data/initpop_testcase/init_pop.h5
exclude .vscode/settings.json
recursive-exclude calib *
recursive-exclude data *
recursive-exclude data_curation_scripts *
recursive-exclude results *
recursive-exclude scripts *

recursive-exclude .devcontainer *
global-exclude *.py[cod] __pycache__/* *.so *.dylib
